<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="XOXO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XOXO_compose">
        <activity
            android:name=".Banned"
            android:exported="false"
            android:label="@string/title_activity_banned"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Matching"
            android:exported="false"
            android:label="@string/title_activity_matching"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Chatroom"
            android:exported="false"
            android:label="@string/title_activity_chatroom"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Bio"
            android:exported="false"
            android:label="@string/title_activity_bio"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Uploadpic"
            android:exported="false"
            android:label="@string/title_activity_uploadpic"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Gender"
            android:exported="false"
            android:label="@string/title_activity_gender"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Changeimg"
            android:exported="false"
            android:label="@string/title_activity_changeimg"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".EditProfile"
            android:exported="false"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Profile"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Report"
            android:exported="false"
            android:label="@string/title_activity_report"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".ImageActivity"
            android:exported="false"
            android:label="@string/title_activity_image"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Filter"
            android:exported="false"
            android:label="@string/title_activity_filter"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Main"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Logo"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.XOXO_compose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Chatlist"
            android:exported="false"
            android:label="Chat"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".KYC"
            android:exported="false"
            android:label="@string/title_activity_kyc"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".term_of_service"
            android:exported="false"
            android:label="@string/title_activity_term_of_service"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Policy"
            android:exported="false"
            android:label="@string/title_activity_policy"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Loading"
            android:exported="false"
            android:label="@string/title_activity_loading"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Reset_password"
            android:exported="false"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Verification"
            android:exported="false"
            android:label="@string/title_activity_verification"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".forgot_password"
            android:exported="false"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/Theme.XOXO_compose" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.XOXO_compose" />
    </application>

</manifest>